.background-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; // ниже всех элементов
  pointer-events: none; // чтобы клики шли сквозь Canvas (если не нужно взаимодействие)
}