body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 400px;
  z-index: 0; // ниже всех элементов
  pointer-events: auto; // чтобы клики шли сквозь Canvas (если не нужно взаимодействие)
}

.pediatric-landing {
  min-height: 100vh;
  background: #e5e5f8;
  padding: 24px;
}

.pediatric-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr 180px;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.pediatric-main-card {
  background: #5e5ebd;
  border-radius: 32px;
  padding: 25px 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.pediatric-title {
  font-size: 3rem;
  line-height: 1.1;
}

.pediatric-desc {
  font-size: 1.2rem;
  margin-bottom: 32px;
  color: #d1d1e0;
}

.pediatric-btn {
  background: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 16px 32px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.pediatric-btn:hover {
  background: #5548c8;
}

.pediatric-main-img {
  border-radius: 32px;
  grid-row: 1 / 3;
}

.pediatric-main-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 32px;
}

.pediatric-card {
  border-radius: 32px;
  overflow: hidden;
}

.pediatric-card1 {
  grid-row: 2 / 2;
  grid-column: 1 / 2;
}

.pediatric-card2 {
  grid-row: 2 / 2;
  grid-column: 1 / 2;
  margin-left: 350px;
}

.pediatric-card img {
  object-fit: cover;
}

// @media (max-width: 900px) {
//   .pediatric-grid {
//     grid-template-columns: 1fr;
//     grid-template-rows: auto;
//     gap: 16px;
//   }
//   .pediatric-main-img, .pediatric-card {
//     grid-column: 1 / 2;
//     grid-row: auto;
//   }
//   .pediatric-main-card {
//     padding: 24px 16px;
//   }
// }